body{
  font-size:  16px;
  font-family:  'Exo 2', sans-serif;
}
#header-nav{
  background-color: #999999;
  border: 2px solid #000;
  border-radius: 0;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border: 2px solid #000;
}
.navbar-brand{
  margin-top: 10px;
  padding-top: 10px;
}
.navbar-brand h1{
  color: #110;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  margin-left: 15px;
}
.navbar-brand a:hover, .navbar-brand a:focus{
  text-decoration: none;
}
.navbar-nav{

  margin: 0 -15px;
}
#nav-list{
  margin-bottom: 0px;
  border: 1px solid;
}
#nav-list:nth-child(3){
  border-bottom: 0;
}
#nav-list li{
  margin-top: -15px;
  background: #777;
  border-bottom: 2px soild;
 }
 #nav-list li:nth-child(1){
  margin-top: 0px;
}
#nav-list li:nth-child(3){
  border-bottom: 0;
}
#nav-list li a{
  color: #000;
  font-weight: 600;
  line-height: 8px;
}
 hr{
  margin-bottom: 5px;
  margin-top: 15px;
  border-top: 2px solid;
  height: auto;
  line-height: 20px;
}
.main-title{
  font-size: 2em;
  font-weight: bold;
  margin-top: -3px;
  margin-bottom: 15px;
  text-align: center;
}
.row{
  margin: 20px;
}
.content-box{
  margin: 20px;
  width: auto;
  height: auto;
  color: black;
  background-color: rgba(0,0,0,0.2);
  padding: 20px;
}

.item-name{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
